@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="container">
        <h1 class="dark:text-white pt-24 max-w-2xl text-5xl font-black mx-auto text-center leading-snug lg:text-4xl lg:pt-20 md:text-3xl md:pt-16 md:max-w-full sm:text-2xl sm:pt-12 tracking-[-0.03em]">
            Grow your business online.Get. More. Leads.
        </h1>

        <p class="dark:text-gray-400 mt-[18px] max-w-xl text-xl font-normal leading-7 mx-auto text-center tracking-[-0.03em] md:text-lg md:mt-4 sm:text-base sm:mt-2">Wanna get serious into digital marketing? Then you need leads and this is where we can help you.</p>

        <div class="flex justify-center gap-7 sm:flex-col sm:gap-0">
            <a href="#" class="btn mt-8 sm:mt-4 sm:text-base sm:max-w-full">Start here.</a>
            <a href="#" class="inline-block mt-8 px-8 py-3 border-2 border-lightred rounded-2xl text-center text-lightred text-xl font-normal leading-6 tracking-[-0.03em] sm:mt-3 sm:text-base sm:max-w-full">Learn More</a>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="flex justify-between mt-40 gap-12 pb-32 lg:flex-col lg:mt-32 md:gap-9">
            <div class="flex flex-col w-1/2 lg:w-full">
                <p class="text-darkred text-xl font-bold leading-7 md:text-lg sm:text-base">about us</p>

                <h1 class="dark:text-white text-4xl font-black leading-[48px] tracking-tight pl-2 md:text-3xl sm:text-2xl">The team behind the brand.</h1>

                <p class="dark:text-gray-400 text-lg font-normal leading-normal max-w-sm mt-3 lg:max-w-full md:text-lg sm:text-base">Proin elementum fermentum auctor. Nulla semper, est eget congue pellentesque, erat nulla molestie mi, in finibus leo nisl ac lectus. Praesent non urna. Nulla congue porta lectus in laoreet. Aenean pellentesque vitae metus id porttitor.t</p>
                
                <div class="flex sm:justify-center sm:flex-col">
                    <a href="#" class="btn mt-8 md:mt-5 sm:text-base sm:max-w-full">Learn More</a>
                </div>
            </div>
            <div class="flex lg:justify-end lg:mt-[-110px] lg:mr-16 md:mr-0 md:flex-col md:mt-0">
                <img src="~/img/about.jpg" alt="aboutPhoto" class="md:max-w-full">
            </div>
        </div>
    </div>
</section>